@use 'reset';

body {
  position: relative;
  font-family: $font-family-main;
  font-size: 16px;
  line-height: 1.5;
  color: $text-main;
  background-color: $bg-main;

  &.no-scroll {
    overflow: hidden;
  }

  &:has(.note-page) {
    background-color: $white;
  }
}

.app {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  width: min(100% - 24px, $desktop);
  margin-inline: auto;

  @include desk() {
    width: min(100% - 40px, $desktop);
  }
}